<div class="main">
  <div class="row">
    <div class="title">
      <h1 class="fb-color title-header">fakebook</h1>
      <h2 class="title-description">Connect with friends and the world around you on Fakebook.</h2>
    </div>
    <mat-card>
      <mat-card-content style="display: flex; flex-direction: column;">
        <mat-form-field appearance="outline">
          <input matInput type="text" placeholder="Email or phone number">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput type="password" placeholder="Password">
        </mat-form-field>
        <button mat-raised-button color="primary">Log In</button>
        <a class="forgot-pw">Forgot Password?</a>
        <hr style="width: 100%; margin: 2vh 0;">
        <button mat-raised-button color="accent">Create a new account</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>