$fb-primary: (
    50: #e6effd,
    100: #bfd6fb,
    200: #95bbf9,
    300: #6ba0f6,
    400: #4b8bf4,
    500: #2b77f2,
    600: #266ff0,
    700: #2064ee,
    800: #1a5aec,
    900: #1047e8,
    A100: #ffffff,
    A200: #e2e8ff,
    A400: #afc0ff,
    A700: #96acff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$fb-accent: (
    50 : #e8f6e5,
    100 : #c6e9bf,
    200 : #a1db94,
    300 : #7bcd69,
    400 : #5ec249,
    500 : #42b729,
    600 : #3cb024,
    700 : #33a71f,
    800 : #2b9f19,
    900 : #1d900f,
    A100 : #c6ffc1,
    A200 : #98ff8e,
    A400 : #69ff5b,
    A700 : #52ff41,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);